$background-color: gray;
$white: #ffffff;
$blue: #047aed;
$darker-blue: #385099;
$gray: #5a575c;
$light-gray: #b4becb;

$ui-primary: $blue;
$ui-secondary: $darker-blue;
$ui-secondary-light: $light-gray;
$ui-white: $white;
