<!-- Navbar -->
<div class="navbar">
    <div class="container">
        <h1 class="logo">Website boilerplate</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#" onclick="navigate('index.html');return false;">Home</a></li>
            <li><a href="#" onclick="navigate('features.html');return false;">Features</a></li>
            <li><a href="#" onclick="navigate('index.html');return false;">About</a></li>
            <li><a href="#" onclick="navigate('index.html');return false;">Contact</a></li>
        </ul>
    </nav>              
</div>